/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}

.r-aligned{
    text-align: right;
}

.c-aligned{
    text-align: center;
}

.bold{
    font-weight: bold;
}
