/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}



@media (min-width: 500px){
.flexParent{ display:flex;
            flex-direction: row;
            height: 100%;
}

.button{
    background-color: rgb(204, 231, 254);
}

.sidebar{
    flex:0;
    margin: 0;
    border: double #000000;
    background-color: rgb(217, 200, 194);
    width: 300px;
    height: 100%;
}

.mainContent{
    flex: 1;
    margin: 0;
    border: double #000000;
    background-color: rgb(227, 227, 227);
    height: 100%;
}

.rerorero{
    margin: 0;
    flex: 1;
    height: auto;
}


}
@media (max-width: 500px){
.flexParent{ display:flex;
            flex-direction: column;
            height: 100%;
}

.sidebar{
    flex:auto;
    margin: 0;
    border: double #ffea00;
    background-color: darksalmon;

}

.mainContent{flex: 1;
    margin: 0;
    border: double #ffea00;
    background-color: rgb(193, 193, 193);
}

.rerorero{
    margin: 0;
    flex: 1;
    height: auto;
}

}
